<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="hibernate.connection.autoReconnect">true</property>
  
  <mapping class="UtenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/UtenteDTO.hbm.xml"/>
  <mapping class="CompanyDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CompanyDTO.hbm.xml"/>
  <mapping class="StrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StrumentoDTO.hbm.xml"/>
  <mapping class="ClienteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ClienteDTO.hbm.xml"/>
  <mapping class="SedeDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SedeDTO.hbm.xml"/>
  <mapping class="TipoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoStrumentoDTO.hbm.xml"/>
  <mapping class="TipoRapportoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoRapportoDTO.hbm.xml"/>
  <mapping class="TipoMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoMisuraDTO.hbm.xml"/>
  <mapping class="CampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CampioneDTO.hbm.xml"/>
  <mapping class="ValoreCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ValoreCampioneDTO.hbm.xml"/>
  <mapping class="TipoCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoCampioneDTO.hbm.xml"/>
  <mapping class="TipoGrandezzaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoGrandezzaDTO.hbm.xml"/>
  <mapping class="UnitaMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/UnitaMisuraDTO.hbm.xml"/>
  <mapping class="PrenotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioneDTO.hbm.xml"/>
  <mapping class="StatoPrenotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoPrenotazioneDTO.hbm.xml"/>
  <mapping class="ClassificazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ClassificazioneDTO.hbm.xml"/>
  <mapping class="InterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoDTO.hbm.xml"/>
  <mapping class="StatoInterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoInterventoDTO.hbm.xml"/>
  <mapping class="InterventoDatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoDatiDTO.hbm.xml"/>
  <mapping class="StatoPackDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoPackDTO.hbm.xml"/>
  <mapping class="StrumentoNoteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StrumentoNoteDTO.hbm.xml"/>
  <mapping class="StatoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoStrumentoDTO.hbm.xml"/>
  <mapping class="LuogoVerificaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LuogoVerificaDTO.hbm.xml"/>
  <mapping class="StatoRicezioneStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoRicezioneStrumentoDTO.hbm.xml"/>
  <mapping class="MisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MisuraDTO.hbm.xml"/>
  <mapping class="PuntoMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PuntoMisuraDTO.hbm.xml"/>
  <mapping class="CertificatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CertificatoDTO.hbm.xml"/>
  <mapping class="StatoCertificatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoCertificatoDTO.hbm.xml"/>
  <mapping class="CertificatoCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CertificatoCampioneDTO.hbm.xml"/>
  <mapping class="RuoloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RuoloDTO.hbm.xml"/>
  <mapping class="PermessoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PermessoDTO.hbm.xml"/>
 	
 	<mapping class="AccessorioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/AccessorioDTO.hbm.xml"/>
    <mapping class="TipologiaAccessoriDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipologiaAccessoriDTO.hbm.xml"/>
	<mapping class="DotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DotazioneDTO.hbm.xml"/>
    <mapping class="TipologiaDotazioniDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipologiaDotazioniDTO.hbm.xml"/>
    <mapping class="PrenotazioniDotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioniDotazioneDTO.hbm.xml"/>
    <mapping class="PrenotazioneAccessorioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioneAccessorioDTO.hbm.xml"/>
    <mapping class="InterventoCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoCampionamentoDTO.hbm.xml"/>
    <mapping class="LogMagazzinoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LogMagazzinoDTO.hbm.xml"/>
    <mapping class="TipoMatriceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoMatriceDTO.hbm.xml"/>
 	<mapping class="DatasetCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DatasetCampionamentoDTO.hbm.xml"/>
    <mapping class="PlayloadCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PlayloadCampionamentoDTO.hbm.xml"/>	
 	<mapping class="TipoTrendDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoTrendDTO.hbm.xml"/>	
 	<mapping class="TrendDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TrendDTO.hbm.xml"/>	
 	<mapping class="DocumentiEsterniStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumentiEsterniStrumentoDTO.hbm.xml"/>	
    <mapping class="TipologiaCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipologiaCampionamentoDTO.hbm.xml"/>
 	<mapping class="SchedaConsegnaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SchedaConsegnaDTO.hbm.xml"/>
    <mapping class="TipoAnalisiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoAnalisiDTO.hbm.xml"/>
 	<mapping class="RelazioneCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RelazioneCampionamentoDTO.hbm.xml"/>
 	
 	<mapping class="MagCategoriaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagCategoriaDTO.hbm.xml"/>
  	<mapping class="MagAspettoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagAspettoDTO.hbm.xml"/>	 
	<mapping class="MagAccessorioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagAccessorioDTO.hbm.xml"/> 
	<mapping class="MagDdtDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagDdtDTO.hbm.xml"/>
	<mapping class="MagItemDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagItemDTO.hbm.xml"/>
	<mapping class="MagItemPaccoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagItemPaccoDTO.hbm.xml"/>
	<mapping class="MagPaccoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagPaccoDTO.hbm.xml"/>
	<mapping class="MagStatoLavorazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagStatoLavorazioneDTO.hbm.xml"/>
	<mapping class="MagTipoDdtDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagTipoDdtDTO.hbm.xml"/>
	<mapping class="MagTipoTrasportoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagTipoTrasportoDTO.hbm.xml"/>
	<mapping class="MagTipoPortoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagTipoPortoDTO.hbm.xml"/>
	<mapping class="RapportoCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RapportoCampionamentoDTO.hbm.xml"/>
	<mapping class="MagTipoItemDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagTipoItemDTO.hbm.xml"/>
	<mapping class="MagStatoItemDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagStatoItemDTO.hbm.xml"/>
	<mapping class="MagAllegatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagAllegatoDTO.hbm.xml"/>
	<mapping class="BachecaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/BachecaDTO.hbm.xml"/>
	<mapping class="RegistroEventiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RegistroEventiDTO.hbm.xml"/>
	<mapping class="TipoManutenzioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoManutenzioneDTO.hbm.xml"/>
	<mapping class="AttivitaManutenzioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/AttivitaManutenzioneDTO.hbm.xml"/>
	<mapping class="TipoAttivitaManutenzioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoAttivitaManutenzioneDTO.hbm.xml"/>
 	<mapping class="MagAttivitaItemDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagAttivitaItemDTO.hbm.xml"/>
 	<mapping class="MagTipoNotaPaccoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagTipoNotaPaccoDTO.hbm.xml"/>
 	<mapping class="MagNoteDdtDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagNoteDdtDTO.hbm.xml"/>
 	<mapping class="MagCausaleDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagCausaleDTO.hbm.xml"/>
 	<mapping class="MagSaveStatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagSaveStatoDTO.hbm.xml"/>
 	<mapping class="RilMisuraRilievoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilMisuraRilievoDTO.hbm.xml"/>
 	<mapping class="RilPuntoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilPuntoDTO.hbm.xml"/>
 	<mapping class="RilTipoRilievoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilTipoRilievoDTO.hbm.xml"/>
 	<mapping class="RilParticolareDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilParticolareDTO.hbm.xml"/>
 	<mapping class="RilPuntoQuotaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilPuntoQuotaDTO.hbm.xml"/>
 	<mapping class="RilQuotaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilQuotaDTO.hbm.xml"/>
 	<mapping class="RilQuotaFunzionaleDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilQuotaFunzionaleDTO.hbm.xml"/>
 	<mapping class="RilSimboloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilSimboloDTO.hbm.xml"/>
 	<mapping class="RilStatoRilievoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilStatoRilievoDTO.hbm.xml"/>
 	<mapping class="RilAllegatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RilAllegatiDTO.hbm.xml"/>
 	
 	<!-- parte relativa alle misure LAT -->
 	<mapping class="LatMasterDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMasterDTO.hbm.xml"/>
 	<mapping class="LatPuntoLivellaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatPuntoLivellaDTO.hbm.xml"/>
 	<mapping class="LatMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMisuraDTO.hbm.xml"/>
 	<mapping class="LatPuntoLivellaElettronicaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatPuntoLivellaElettronicaDTO.hbm.xml"/>
 	<mapping class="LatMassaAMB" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMassaAMB.hbm.xml"/>
 	<mapping class="LatMassaAMB_DATA" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMassaAMB_DATA.hbm.xml"/>
 	<mapping class="LatMassaAMB_SONDE" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMassaAMB_SONDE.hbm.xml"/>
 	<mapping class="LatMassaEffMag" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LatMassaEffMag.hbm.xml"/>
 	
 	<!-- Documentazione Campione -->
 	<mapping class="DocumentoCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumentoCampioneDTO.hbm.xml"/>
 	<mapping class="CategoriaDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CategoriaDocumentoDTO.hbm.xml"/>
 	
 	<mapping class="ConfigurazioneClienteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ConfigurazioneClienteDTO.hbm.xml"/>
 	<mapping class="SchedaConsegnaRilieviDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SchedaConsegnaRilieviDTO.hbm.xml"/>
 	
 	<mapping class="AcAttivitaCampioniDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/AcAttivitaCampioniDTO.hbm.xml"/>
 	<mapping class="AcTipoAttivitaCampioniDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/AcTipoAttivitaCampioniDTO.hbm.xml"/>
 	<mapping class="TaraturaEsternaCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TaraturaEsternaCampioneDTO.hbm.xml"/>
 	<mapping class="CartaDiControlloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CartaDiControlloDTO.hbm.xml"/>
 	<!-- Sicurezza Elettrica -->
 	<mapping class="ScirezzaElettricaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SicurezzaElettricaDTO.hbm.xml"/>
 	
 	<mapping class="ContatoreUtenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ContatoreUtenteDTO.hbm.xml"/>
 	
 	<mapping class="SegreteriaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SegreteriaDTO.hbm.xml"/>
 	
 	<!-- VerStrumento -->
 	<mapping class="VerTipologiaStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipologiaStrumentoDTO.hbm.xml"/>
 	<mapping class="VerTipoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipoStrumentoDTO.hbm.xml"/>
 	<mapping class="VerStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerStrumentoDTO.hbm.xml"/>
 	<mapping class="VerInterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerInterventoDTO.hbm.xml"/>
 	<mapping class="VerAccuratezzaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerAccuratezzaDTO.hbm.xml"/>
 	<mapping class="VerClassiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerClassiDTO.hbm.xml"/>
 	<mapping class="VerDecentramentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerDecentramentoDTO.hbm.xml"/>
 	<mapping class="VerMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerMisuraDTO.hbm.xml"/>
 	<mapping class="VerLinearitaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerLinearitaDTO.hbm.xml"/> 
 	<mapping class="VerMobilitaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerMobilitaDTO.hbm.xml"/>
 	<mapping class="VerRipetibilitaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerRipetibilitaDTO.hbm.xml"/>
 	<mapping class="VerTipoVerificaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipoVerificaDTO.hbm.xml"/>
 	<mapping class="VerMotivoVerificaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerMotivoVerificaDTO.hbm.xml"/>
 	<mapping class="VerComunicazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerComunicazioneDTO.hbm.xml"/>
 	<mapping class="VerCertificatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerCertificatoDTO.hbm.xml"/>
 	<mapping class="VerFamigliaStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerFamigliaStrumentoDTO.hbm.xml"/>
 	<mapping class="VerInterventoStrumentiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerInterventoStrumentiDTO.hbm.xml"/> 
 	<mapping class="VerCodiceDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerCodiceDocumentoDTO.hbm.xml"/>
 	<mapping class="VerEmailDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerEmailDTO.hbm.xml"/>
 	<mapping class="VerAllegatoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerAllegatoStrumentoDTO.hbm.xml"/>
 	<mapping class="VerAllegatoLegalizzazioneBilanceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerAllegatoLegalizzazioneBilanceDTO.hbm.xml"/> 	
 	<mapping class="VerTipoProvvedimentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipoProvvedimentoDTO.hbm.xml"/>
 	<mapping class="VerTipoApprovazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipoApprovazioneDTO.hbm.xml"/>
 	<mapping class="VerLegalizzazioneBilanceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerLegalizzazioneBilanceDTO.hbm.xml"/>
 	<mapping class="VerAllegatoDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerAllegatoDocumentoDTO.hbm.xml"/>
 	<mapping class="VerTipoDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerTipoDocumentoDTO.hbm.xml"/>
 	<mapping class="VerDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VerDocumentoDTO.hbm.xml"/>
 	
 	<mapping class="ProvinciaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ProvinciaDTO.hbm.xml"/>
 	<mapping class="ComuneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ComuneDTO.hbm.xml"/>
 	
 	<mapping class="TipoEventoRegistroDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoEventoRegistroDTO.hbm.xml"/>
 	<mapping class="MilestoneOperatoreDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MilestoneOperatoreDTO.hbm.xml"/>
 	<mapping class="SequenceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SequenceDTO.hbm.xml"/>
 	 	
 	
 	<mapping class="ForDocenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForDocenteDTO.hbm.xml"/> 	    
 	<mapping class="ForCorsoCatDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForCorsoCatDTO.hbm.xml"/>
 	<mapping class="ForCorsoCatAllegatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForCorsoCatAllegatiDTO.hbm.xml"/> 	
 	<mapping class="ForCorsoAllegatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForCorsoAllegatiDTO.hbm.xml"/>
 	<mapping class="ForRuoloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForRuoloDTO.hbm.xml"/>  
 	<mapping class="ForPartecipanteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForPartecipanteDTO.hbm.xml"/>
 	<mapping class="ForPartecipanteRuoloCorsoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForPartecipanteRuoloCorsoDTO.hbm.xml"/>   
 	<mapping class="ForCorsoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForCorsoDTO.hbm.xml"/>
 	<mapping class="ForQuestionarioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForQuestionarioDTO.hbm.xml"/>
 	<mapping class="ForReferenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForReferenteDTO.hbm.xml"/>
 	<mapping class="ForEmailDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForEmailDTO.hbm.xml"/>
 	<mapping class="ForConfInvioEmailDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForConfInvioEmailDTO.hbm.xml"/> 	
 	    
 	 
 	<mapping class="DocumTLStatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumTLStatoDTO.hbm.xml"/>
 	<mapping class="DocumTLStatoDipendenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumTLStatoDipendenteDTO.hbm.xml"/> 	 	    
 	<mapping class="DocumCommittenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumCommittenteDTO.hbm.xml"/>
 	<mapping class="DocumFornitoreDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumFornitoreDTO.hbm.xml"/> 	    
 	<mapping class="DocumReferenteFornDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumReferenteFornDTO.hbm.xml"/>
 	<mapping class="DocumDipendenteFornDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumDipendenteFornDTO.hbm.xml"/>
 	<mapping class="DocumTipoDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumTipoDocumentoDTO.hbm.xml"/> 	
 	<mapping class="DocumTLDocumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumTLDocumentoDTO.hbm.xml"/>
 	<mapping class="DocumEmailDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumEmailDTO.hbm.xml"/> 	    
 	<mapping class="DocumDocumentoDipendenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DocumDocumentoDipendenteDTO.hbm.xml"/> 
 		
 		
 	<mapping class="TipoDpiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoDpiDTO.hbm.xml"/>
 	<mapping class="ConsegnaDpiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ConsegnaDpiDTO.hbm.xml"/>
 	<mapping class="DpiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DpiDTO.hbm.xml"/>
 	<mapping class="DpiManualeDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DpiManualeDTO.hbm.xml"/>
 	<mapping class="DpiAllegatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DpiAllegatiDTO.hbm.xml"/>
 	
 	
 	
 	<mapping class="DevAllegatiDeviceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevAllegatiDeviceDTO.hbm.xml"/>		
 	<mapping class="DevAllegatiSoftwareDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevAllegatiSoftwareDTO.hbm.xml"/>
 	<mapping class="DevDeviceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevDeviceDTO.hbm.xml"/>
  	<mapping class="DevDeviceSoftwareDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevDeviceSoftwareDTO.hbm.xml"/> 
 	<mapping class="DevLabelConfigDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevLabelConfigDTO.hbm.xml"/>
 	<mapping class="DevLabelTipoInterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevLabelTipoInterventoDTO.hbm.xml"/>
 	<mapping class="DevProceduraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevProceduraDTO.hbm.xml"/>
 	<mapping class="DevRegistroAttivitaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevRegistroAttivitaDTO.hbm.xml"/>
 	<mapping class="DevSoftwareDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevSoftwareDTO.hbm.xml"/>
 	<mapping class="DevStatoValidazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevStatoValidazioneDTO.hbm.xml"/>
 	<mapping class="DevTipoDeviceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevTipoDeviceDTO.hbm.xml"/>
 	<mapping class="DevTipoEventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevTipoEventoDTO.hbm.xml"/>
 	<mapping class="DevTipoProceduraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevTipoProceduraDTO.hbm.xml"/>
 	<mapping class="DevTestoEmailDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevTestoEmailDTO.hbm.xml"/>
 	<mapping class="DevProceduraDeviceDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DevProceduraDeviceDTO.hbm.xml"/>
 	
 	<mapping class="GPDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/GPDTO.hbm.xml"/>
 			
 	<mapping class="FirmaClienteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/FirmaClienteDTO.hbm.xml"/>
 	
 	<mapping class="CoTipoAttrezzaturaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoTipoAttrezzaturaDTO.hbm.xml"/>
 	<mapping class="CoTipoControlloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoTipoControlloDTO.hbm.xml"/>
 	<mapping class="CoControlloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoControlloDTO.hbm.xml"/>
 	<mapping class="CoAttrezzaturaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoAttrezzaturaDTO.hbm.xml"/>
 	<mapping class="CoAttrezzaturaTipoControlloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoAttrezzaturaTipoControlloDTO.hbm.xml"/>	
 	<mapping class="CoAllegatoAttrezzaturaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoAllegatoAttrezzaturaDTO.hbm.xml"/>
 	<mapping class="CoStatoControlloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CoStatoControlloDTO.hbm.xml"/>
 	
 	<mapping class="NoteSicurezzaCommessaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/NoteSicurezzaCommessaDTO.hbm.xml"/>
  	<mapping class="VersionePortaleDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/VersionePortaleDTO.hbm.xml"/>
  	
  	<mapping class="MagAllegatoItemDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MagAllegatoItemDTO.hbm.xml"/>
  	
  	<mapping class="ForPiaStatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForPiaStatoDTO.hbm.xml"/> 	    
 	<mapping class="ForPiaTipoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForPiaTipoDTO.hbm.xml"/>
 	<mapping class="ForPiaPianificazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ForPiaPianificazioneDTO.hbm.xml"/> 	
 
 	
  </session-factory>
</hibernate-configuration>
