<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gtv_db</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="hbm2ddl.auto">update</property>
  
  <mapping class="UtenteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/UtenteDTO.hbm.xml"/>
  <mapping class="CompanyDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CompanyDTO.hbm.xml"/>
  <mapping class="StrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StrumentoDTO.hbm.xml"/>
  <mapping class="ClienteDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ClienteDTO.hbm.xml"/>
  <mapping class="SedeDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/SedeDTO.hbm.xml"/>
  <mapping class="TipoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoStrumentoDTO.hbm.xml"/>
  <mapping class="TipoRapportoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoRapportoDTO.hbm.xml"/>
  <mapping class="TipoMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoMisuraDTO.hbm.xml"/>
  <mapping class="CampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CampioneDTO.hbm.xml"/>
  <mapping class="ValoreCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ValoreCampioneDTO.hbm.xml"/>
  <mapping class="TipoCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoCampioneDTO.hbm.xml"/>
  <mapping class="TipoGrandezzaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoGrandezzaDTO.hbm.xml"/>
  <mapping class="UnitaMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/UnitaMisuraDTO.hbm.xml"/>
  <mapping class="PrenotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioneDTO.hbm.xml"/>
  <mapping class="StatoPrenotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoPrenotazioneDTO.hbm.xml"/>
  <mapping class="ClassificazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ClassificazioneDTO.hbm.xml"/>
  <mapping class="InterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoDTO.hbm.xml"/>
  <mapping class="StatoInterventoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoInterventoDTO.hbm.xml"/>
  <mapping class="InterventoDatiDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoDatiDTO.hbm.xml"/>
  <mapping class="StatoPackDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoPackDTO.hbm.xml"/>
  <mapping class="ScadenzaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ScadenzaDTO.hbm.xml"/>
  <mapping class="StatoStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoStrumentoDTO.hbm.xml"/>
  <mapping class="LuogoVerificaDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LuogoVerificaDTO.hbm.xml"/>
  <mapping class="StatoRicezioneStrumentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoRicezioneStrumentoDTO.hbm.xml"/>
  <mapping class="MisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/MisuraDTO.hbm.xml"/>
  <mapping class="PuntoMisuraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PuntoMisuraDTO.hbm.xml"/>
  <mapping class="CertificatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CertificatoDTO.hbm.xml"/>
  <mapping class="StatoCertificatoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/StatoCertificatoDTO.hbm.xml"/>
  <mapping class="CertificatoCampioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/CertificatoCampioneDTO.hbm.xml"/>
  <mapping class="RuoloDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/RuoloDTO.hbm.xml"/>
  <mapping class="PermessoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PermessoDTO.hbm.xml"/>
  <mapping class="ProceduraDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/ProceduraDTO.hbm.xml"/>
  
 	<mapping class="AccessorioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/AccessorioDTO.hbm.xml"/>
    <mapping class="TipologiaAccessoriDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipologiaAccessoriDTO.hbm.xml"/>

	<mapping class="DotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DotazioneDTO.hbm.xml"/>
    <mapping class="TipologiaDotazioniDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipologiaDotazioniDTO.hbm.xml"/>
    <mapping class="PrenotazioniDotazioneDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioniDotazioneDTO.hbm.xml"/>
    <mapping class="PrenotazioneAccessorioDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PrenotazioneAccessorioDTO.hbm.xml"/>
    <mapping class="InterventoCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/InterventoCampionamentoDTO.hbm.xml"/>
    <mapping class="LogMagazzinoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/LogMagazzinoDTO.hbm.xml"/>
 	<mapping class="TipoCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/TipoCampionamentoDTO.hbm.xml"/>
 	<mapping class="DatasetCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/DatasetCampionamentoDTO.hbm.xml"/>
  	<mapping class="PlayloadCampionamentoDTO" package="it.portaleSTI.DTO" resource="it/portaleSTI/hbm/PlayloadCampionamentoDTO.hbm.xml"/>	
 	
 </session-factory>
</hibernate-configuration>
