@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,400,400i,600,600i,700,700i');


body.document-editor {
    width: 15.8cm;
    min-height: 21cm;
    padding: 1cm 1cm 1cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
}

body.document-editor td, body.document-editor th {
    font-size: 0.9em;
}

body.document-editor h1 {
    margin-bottom:1cm;
}

body.document-editor table {
    margin-top:0.5cm;
    margin-bottom:0.5cm;
}

body.document-editor table td {
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

body.document-editor table td:first-of-type {
    border-left: 1px solid #d0d0d0;
}

body.document-editor table tr:first-of-type td {
    border-top: 1px solid #d0d0d0;
}

body.document-editor table thead th {
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

body.document-editor table thead th:first-of-type {
    border-left: 1px solid #d0d0d0;
}

.padding-bottom-30{
	padding-bottom:30px;
}


.customlink{
	color: #ff0000;
	font-weight:bold;
}

 .customlink:visited {
	color: #ff0000;
	font-weight:bold;
}
.dt-buttons a:link {
	color: #000;
	font-weight:normal;
}
.dt-buttons a:visited {
	color: #000;
	font-weight:normal;
}


.loading {
    position: relative;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5) url('http://i.stack.imgur.com/FhHRx.gif') no-repeat center center;
    z-index: 110;
}

* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

.centered {
	text-align:center;
}
/* INIZIO LOGIN*/

.login-page,
.register-page {
  background:#fff  url(../images/bg.png) no-repeat center top;
  background-size:cover;
}

.login-box {	


}


.app-title {
font-family:Impact, Charcoal, sans-serif;
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.modal {

    overflow-y: scroll;
}
body.noScroll { 
  overflow: hidden;
}
#tabPM td{
	vertical-align:middle;
}

.bigText{
	font-size:40px;
	cursor:pointer;
}
#calendario .fc-event-container{
	text-align:center;
	
}
 
#tabPM thead td{
	vertical-align:middle;
	font-weight:bold;
}
.dt-buttons{
	
	float:right;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#tblAppendGrid{
	width:100%;
}
#tblAppendGrid .error{
	
	background-color:#ffc9c9;
}
#tblAppendGrid thead td{
	text-align:center;
	padding:10px 0;
}

#tblAppendGrid label.error{
	
	background-color:#ffffff;
	font-size:10px;
	color:#ff0000;
}

#myModal{
	word-wrap: break-word;
}

.table .table-bordered .table-inverse .dataTable tbody [rowspan],
.table .table-bordered .table-inverse .dataTable tbody [rowspan] ~ th,
.table .table-bordered .table-inverse .dataTable tbody [rowspan] ~ td,
.table .table-bordered .table-inverse .dataTable tfoot {
  border-top: 1px solid #a1a1a1;
}

.table .table-bordered .table-inverse .dataTable{
	border-collapse: collapse;
}


table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}


dataTables.bootstrap.min.css:1
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #d1d1d1;
}
.table-bordered{
	 border: 1px solid #d1d1d1;
}

.modal-fullscreen .modal-dialog {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 96%;
  }
}
.ui-widget-header{
	    background: #f1f1f1;
	    font-size:10px;
}
.actionClass{
	min-width:180px;
	
}


.bigLabelTable{
	font-size:16px !important;
}
#apporvaSelectedButtonGroup{
	
	margin-top: 10px;
}

.ui-widget-content input, .ui-widget-content select, .ui-widget-content button, .ui-widget-content, ui-widget-header{
	font-size:10px;
}
.ui-widget-content input, .ui-widget-content select{
	height:34px;
}

.select2MVOpt .select2-results__options li{
		font-size:10px !important;
	
}
.box{
	
	overflow:hidden;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000 !important;
}

#formNuovoInterventoCampionamento .error{
	color: red;
	
}

.inputsearchtable{
	
	height:34px;
	min-width:70px; 
	width:100%;
}
#selectSearchTop{
	
	margin:10px 0 10px 0;
}

.table th input{
	min-width:100px;
	
}

#myModalAggregazioneContent{
	
	min-height:500px;
}

.list-group-no-border .list-group-item{
	border:none;
	text-align:right;
	margin-bottom: 0px !important;
}


#grafici{
		padding:40px;
	
	}
	#grafici .row{
		padding:40px;
	
	}
}
td.checkboxDisabled:before{
 
 
    background-color: #e1e1e1 !important;
 
	
}

.dataTable > thead > tr.active > th, .dataTable > thead > tr > th, .dataTable > thead > tr > td, .dataTable > thead > tr.active > td{
	
	background-color:#3c8dbc;
	color:#fff;
	
}
.dataTable .inputsearchtable{
	
	color:#000;
	
}
.tooltipster-sidetip.tooltipster-light .tooltipster-box{
	border-radius:3px;
	border:1px solid #ccc;
	background:#3c8dbc;
}
.tooltipster-sidetip.tooltipster-light .tooltipster-content{color:#fff}
.tooltipster-arrow-background{border-bottom-color:#3c8dbc;top:1px}
.tooltipster-sidetip.tooltipster-light.tooltipster-left .tooltipster-arrow-background{border-left-color:#3c8dbc;left:-1px}
.tooltipster-sidetip.tooltipster-light.tooltipster-right .tooltipster-arrow-background{border-right-color:#3c8dbc;left:1px}
.tooltipster-sidetip.tooltipster-light.tooltipster-top .tooltipster-arrow-background{border-top-color:#3c8dbc;top:-1px}

.map{
	
	width:96%;
	margin:2%;
	height:265px;
}

